* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 15px;
    color: royalblue;
    text-decoration: none;
}

a:hover {
    color: red;
}

.sign-up-from {
    width: 300px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    background: transparent;
    padding: 20px;
    margin: 5% auto 0;
    text-align: center;
}

.sign-up-from h1 {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid grey;
    outline: none;
}

button {
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
}

.twitter-btn {
    background-color: royalblue;
}

hr {
    margin-top: 20px;
}

.or {
    background: #fff;
    width: 30px;
    margin: -10px auto 10px;
}

.up {
    width: 300px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    background: transparent;
    padding: 20px;
    margin: 1% auto;
    text-align: center;
}

.lpg {
    width: 300px;
    background: transparent;
    padding: 20px;
    margin: 1% auto;
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: %;
}

.mgm {
    display: flex;
    justify-content: center;
    align-items: center;
}